
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los divs dentro del contenedor */
}

.responsive-div {
    width: 50%;
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el ancho total del div */
    margin-bottom: 10px; /* Añade un margen inferior para separar las líneas */
}

.center-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Alinea el contenido al centro */
    background-color: rgb(247, 247, 247);
}

.right-aligned {
    text-align: right; /* Alinea el contenido a la derecha */
    background-color: rgb(255, 255, 255);
}
