{% extends "web/base.html" %}
{% load static %}
{% block titulo %}Vendedor - Nuevo{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'web/css/style_vendedor.css' %} ">{% endblock %}

{% block main %}
<h2>{{ form.instance.pk|yesno:"Editar Vendedor,Crear Vendedor" }}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn-primary" type="submit">Guardar</button>
</form>
    <br>
<a class="btn btn-primary" href="{% url 'vendedor_consulta' %}">Volver al listado de vendedores</a>
{% endblock %}