{% extends "web/base.html" %}
{% load static %}
{% block titulo %}Venta - Nueva{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'web/css/style_venta.css' %} ">{% endblock %}

{% block main %}

    <h2>Venta - Nueva</h2>
    <form method="POST" action="{% url 'venta_nueva' %}">

        <div class="container">
            <div class="responsive-div center-aligned">
    
                    <div class="right-aligned-div">
                        {% csrf_token %}
                        <div class="form-group">
                        {{ alta_alumno_form }}
                    </div>
                        <br>
                    </div>
    
            </div>
            <div class="responsive-div right-aligned">
                <input type="submit" class="btn btn-danger button_right" value="Limpiar">
                <input type="submit" class="btn btn-success button_right" value="Grabar">
            </div>
        </div>
        
    </form>
{% endblock %}