{% extends "web/base.html" %}
{% load static %}
{% block titulo %}Vendedor - Nuevo{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/css/style_vendedor.css' %} ">{% endblock %}

{% block main %}
    <h2>{% if form.instance.pk %}Editar Venta{% else %}Nueva Venta{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
    <a href="{% url 'venta_list' %}" class="btn btn-secondary mt-3">Volver</a>
{% endblock %}
